<div class="container">
  <br>
  
  <button class="btn btn-primary float-end " (click)="logout()">Logout</button>
<div class="jumbotron">
  <h1 class="display-4">Manage Users</h1>
   <p class="lead">
    <a class="btn btn-primary btn-sm" href="/manage-posts" role="button">Manage Posts</a>&nbsp;
    <a class="btn btn-primary btn-sm" href="/manage-comments" role="button">Manage Comments</a>&nbsp;
    <a class="btn btn-primary btn-sm" href="/manage-users" role="button" *ngIf="userRole=='ADMIN'">Manage Users</a>&nbsp;
  </p>
</div>
<br><br>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">User Id</th>
      <th scope="col">Name</th>
      <th scope="col">About</th> 
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{user.userId}}</th>
      <td>{{user.userName}}</td>
      <td> {{user.about}} </td>
      <td>{{user.userEmail}}</td>
      <td> {{user.role}}</td>
      <td>
     
        <button type="button" class="btn btn-secondary btn-sm" (click)="deleteUser(user.userId)">Delete</button></td>
    </tr>
    
  </tbody>
</table>

</div>
