<div class="container">
    <br>
  
  <button class="btn btn-primary float-end ">Logout</button>
<div class="jumbotron">
  <h1 class="display-4">Manage Post</h1>
   <p class="lead">
    <a class="btn btn-primary btn-sm" href="/manage-posts" role="button">Manage Posts</a>&nbsp;
    <a class="btn btn-primary btn-sm" href="/manage-comments" role="button">Manage Comments</a>&nbsp;
    <a class="btn btn-primary btn-sm" href="/manage-users" role="button" *ngIf="userRole=='ADMIN'">Manage Users</a>&nbsp;
  </p>
</div>
<br><br>

<h3>Add New Post</h3>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Post Id</label>
    <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter post Id"  required #postId>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Post Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter post title" required #title>
  </div>  
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Post Content</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Enter post Content" rows="3" required #content></textarea>
  </div>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Post Image</label>
    <input type="file" accept="image/*" name="image" (change)="handleFileInput($event)" class="form-control" id="exampleFormControlInput1" placeholder="Enter post title" required #image>
  </div> 
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Category</label>
    <select class="form-select" aria-label="Default select example" required #categoryId>
        <option selected>Open this select menu</option>
        <option value="1">Skin</option>
        <option value="2">Hair</option>
        <option value="3">Face</option>
        <option value="4">Products</option>
      </select>
</div>
<div class="mb-3">
    
    <button type="Submit" class="btn btn-primary" (click)="addPost(postId.value,title.value,content.value,categoryId.value)">Add New Post</button>&nbsp;
    <button type="Reset" class="btn btn-secondary">Reset</button>
  </div>
<br>
</div>

