<div class="container">
    <br/><br><br><br>
    <h2>User Signin</h2>
    
        <fieldset>
          <div id="legend">
            <legend class="">Please signin to continue!!</legend>
          </div>
         
    
          <div class="control-group">
            <!-- E-mail -->
            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
              <input type="email" id="email" name="email" placeholder="Enter your email" class="input-xlarge" #email>
              
            </div>
          </div>
       
          <div class="control-group">
            <!-- Password-->
            <label class="control-label" for="password">Password</label>
            <div class="controls">
              <input type="password" id="password" name="password" placeholder="Set Password" class="input-xlarge" #password>
             
            </div>
          </div>
       
        <br>
       
          <div class="control-group">
            <!-- Button -->
            <div class="controls">
              <button type="submit" class="btn btn-primary" (click)="signin(email.value, password.value)">Signin</button>
            </div>
          </div>
        </fieldset>
      
    </div>
    <br><br><br>